*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.goku{
  width: 500px;
  display: block;
  margin: 100px auto;  
  filter: drop-shadow(0px 0px 50px yellow);
}
---------------------
.card-wrap {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px black;
 

}
.card{
  width: 310px;
  margin: 40px auto ;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  padding: 0 0 30 px;
}

.imagen{
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: cover;
  display: block;
}
.titulo{

  text-align: center;
  color: brown;
  margin: 20px 0;
}
.btn{
  color: white;
  background-color: brown;
  text-decoration: none;
  display: block;
  padding: 13px 0;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  border-radius: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.parrafo{
  text-align: center;
}
body{
  font-size: 17px;
}
